@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

html{scroll-behavior: smooth;}

body{font-family: 'Noto Sans KR', sans-serif;}

/* Header___________________________________________ */
header{
  height: 900px;
  position: relative;
  background-color: #df4b50;
}
nav{
  width: 1400px;
  margin: auto;
  height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.logo{
  width: 300px;
  height: 100px;
  background-color: #fff;
  border-radius: 0 0 40px 40px;
  text-align: center;
  line-height: 100px;
  padding-top: 15px;
  box-shadow: 0 0 20px #c5a0a0;
  z-index: 1;
  box-sizing: border-box;
}
.logo a img{width: 180px;}

.gnb{
  background-color: #fff;
  width: 1100px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb li{
  font-size: 25px;
  z-index: 2; 
}
.gnb li a{
  display: inline-block;
  width: 200px;
  height: 70px;
  text-transform: capitalize;
  text-align: center;
  line-height: 70px;
}

.gnb li a:hover{
  color: #fff;
  background-color: #ED1C23;
  font-weight: bolder;
  transition: 0.4s;
}

.main{
  width: 100%;
  border-radius: 0 0 30% 30%;
  margin: auto;
  padding-top: 350px;
  height: 800px;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  line-height: 90px;
  text-shadow: 0 0 30px #121211;
  background: url(../image/mainmain.jpg) no-repeat fixed;
  background-size: cover;
  transition: 1s;
}
.main:hover{
  background: url(../image/main4.jpg) fixed;
  background-size: cover;
  transition: 1s;
}
.main h1{
  font-family: 'DM Serif Display', serif;
  font-size: 150px;
}
.main p{
  margin-left: 50px;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 0 10px rgba(0,0,0,1.5);
}
.main p span{
  font-family: 'DM Serif Display', serif;
  font-size: 55px;
  margin-left: 10px;
}


/* brand_____________________________________________________________________ */
#brand{
  width: 100%;
  height: 1000px;
  background-color: #df4b50;
  position: relative;
  z-index: -2;
}
.brand{
  width: 1400px;
  height: inherit;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.brand h2{
  position: absolute;
  top: -8%;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  width: 1400px;
  font-size: 400px;
  text-transform: capitalize;
}
/* brand items______ */

#brand .brand .brand_list1{
  position: absolute;
  top: 25%;
  left: -10%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  animation: brand 10s linear infinite;
}
#brand .brand .brand_list1 .item{
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

#brand .brand .brand_list2{
  position: absolute;
  top: 48%;
  left: 10%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 250px;
  animation: brand 10s reverse linear infinite;
}
#brand .brand .brand_list2 .item{
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

/* 로고 이미지 삽입 */
.brand .brand_list1 .item:nth-child(1){
  background: url(../image/icon/logo1.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list1 .item:nth-child(2){
  background: url(../image/icon/logo2.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list1 .item:nth-child(3){
  background: url(../image/icon/logo3.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list1 .item:nth-child(4){
  background: url(../image/icon/logo4.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list1 .item:nth-child(5){
  background: url(../image/icon/logo5.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list2 .item:nth-child(1){
  background: url(../image/icon/logo6.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list2 .item:nth-child(2){
  background: url(../image/icon/logo7.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list2 .item:nth-child(3){
  background: url(../image/icon/logo8.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list2 .item:nth-child(4){
  background: url(../image/icon/logo9.png) no-repeat center center;
  background-size: 180px auto;
}
.brand .brand_list2 .item:nth-child(5){
  background: url(../image/icon/logo10.png) no-repeat center center;
  background-size: 180px auto;
}

/* 마우스 호버 효과 */

.brand .brand_list1 .item:nth-child(1):hover{transform: scale(1.1) translateY(-20px);}
.brand .brand_list1 .item:nth-child(2):hover{transform: scale(1.1) translateY(-20px);}
.brand .brand_list1 .item:nth-child(3):hover{transform: scale(1.1) translateY(-20px);}
.brand .brand_list1 .item:nth-child(4):hover{transform: scale(1.1) translateY(-20px);}
.brand .brand_list1 .item:nth-child(5):hover{transform: scale(1.1) translateY(-20px);}

.brand .brand_list2 .item:nth-child(1):hover{transform: scale(1.1) translateY(20px);}
.brand .brand_list2 .item:nth-child(2):hover{transform: scale(1.1) translateY(20px);}
.brand .brand_list2 .item:nth-child(3):hover{transform: scale(1.1) translateY(20px);}
.brand .brand_list2 .item:nth-child(4):hover{transform: scale(1.1) translateY(20px);}
.brand .brand_list2 .item:nth-child(5):hover{transform: scale(1.1) translateY(20px);}

/* 버튼 디자인 */
.brand_btn{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 50px;
  background: #bb252a;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #bb252a;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}
.brand_btn:hover{background: #8a0308;}

/* 브랜드 애니메이션 */
@keyframes brand{
  0%{
    left: 0;
  }
  25%{
    left: 10%;
  }
  50%{
    left: 0;
  }
  75%
  {
    left: -10%;
  }
  100%{
    left: 0;
  }
}

/* cf________________________________________________________________________________________________ */

#cf{
  width: 100%;
  height: 1000px;
  margin: auto;
  text-align: center;
  background: url(../image/yogesh-pedamkar-DZLJGd8V1mg-unsplash.jpg);
  background-size: cover;
  position: relative;
  z-index: -2;

}
#cf:before{
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
#cf video{
  width: 1000px;
  margin-top: 150px;
  border-radius: 20px;
  box-shadow: 0 0 20px #1d1d1d;
}
.btn{
  position: relative;
}
.btn a{
  display: inline-block;
  border-radius: 50px;
  width: 300px;
  height: 80px;
  margin: 40px 20px 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  line-height: 80px;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  transition: 0.5s;
}

.btn a:nth-child(1):before{
  content: '';
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../image/cokechannel.jpg) no-repeat center center;

}
.btn i{
  font-size: 30px;
  padding-right: 10px;
  box-sizing: border-box;
}
.btn a:hover{transform: scale(1.2);}
.btn a:nth-child(1){
  background: #fdde30;
  color: #03020a;
  box-shadow: 0 0 40px #F3D52D;
  padding-left: 34px;
}
.btn a:nth-child(2){
  background-color: #ED1C23;
  box-shadow: 0 0 40px #ED1C23;
}

/* history_____________________________________________________________________________ */
#history{
  width: 100%;
  height: 920px;
  text-align: center;
  background-color: #fdf2cf;
  position: relative;
  overflow: hidden;
  z-index: -2;
  background: url(../image/ivan-gromov-Y3vPEuNlf7w-unsplash.jpg);
  background-size: cover;
}

#history>h2{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.2);
  width: 1400px;
  font-size: 400px;
  text-transform: capitalize;
  z-index: -1;
}

.history{ /* 컨텐츠 크기 */
  position: relative;
  width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#history .history .con_box{ /* 설명박스 */ 
  position:absolute;
  top: 20%;
  left: 40px;
  background-color: #fff;
  box-shadow: -40px 40px 5px #a18268;
  width: 900px;
  height: 550px;
  border-radius: 0 60px 0 60px;
}

#history .history hr{
  transform: translateX(-50%) rotate(90deg);
  position: absolute;
  width: 900px;
  left: 85%;
  border-color: #472a07;
  border-style: solid;
  opacity: 0.6;
  z-index: -1;
}

.tab-inner{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
input[name=tabmenu]{display: none;}

.con_inner{ /* 컨텐츠가 보여지는 영역 */
  position: absolute;
  top: 20%;
  left: 40px;
  width: 900px;
  height: 550px;
  overflow: hidden;
}
.con_inner .contents{
  position: absolute;
  width: 900px;
  height: 3000px;
  transition: 0.5s;
}
.con_inner .contents .content{
  height: 550px;
  padding: 50px;
  box-sizing: border-box;
}
.con_inner .contents .content h2{
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #B51C2E;
}
.con_inner .contents .content span{
  color: #202020;
}
.con_inner .contents .content div{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.con_inner .contents .content div img{
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(79, 78, 78, 0.5);
}
.con_inner .contents .content div p{ /* 설명문구 */
  width: 500px;
  height: 350px;
  overflow: auto;
  text-align: left;
}
.his_btn{
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  padding: 100px 0;
  box-sizing: border-box;
}

.his_btn label{
  width: 100%;
  height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.his_btn label .img{
  width: 100px;
  height: 80px;
  background: url(../image/cola2.png) no-repeat center center;
  transition: 0.5s

}
.his_btn label .point{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #472a07;
  margin: 10px;
  box-sizing: border-box;
  transition: 0.5s;
}
.his_btn label strong{
  font-size: 20px;
  font-weight: 600;
  color: #472a07;
  transition: 0.5s
}

/* 체크효과_____ */
input[id=tab1]:checked ~.his_btn label[for=tab1] .point,
input[id=tab2]:checked ~.his_btn label[for=tab2] .point,
input[id=tab3]:checked ~.his_btn label[for=tab3] .point,
input[id=tab4]:checked ~.his_btn label[for=tab4] .point,
input[id=tab5]:checked ~.his_btn label[for=tab5] .point,
input[id=tab6]:checked ~.his_btn label[for=tab6] .point,
input[id=tab7]:checked ~.his_btn label[for=tab7] .point,
input[id=tab8]:checked ~.his_btn label[for=tab8] .point,
input[id=tab9]:checked ~.his_btn label[for=tab9] .point{
  background-color: #B51C2E;
  border-radius: 50%;
  transform: scale(1.5);
}


input[id=tab1]:checked ~.his_btn label[for=tab1] strong,
input[id=tab2]:checked ~.his_btn label[for=tab2] strong,
input[id=tab3]:checked ~.his_btn label[for=tab3] strong,
input[id=tab4]:checked ~.his_btn label[for=tab4] strong,
input[id=tab5]:checked ~.his_btn label[for=tab5] strong,
input[id=tab6]:checked ~.his_btn label[for=tab6] strong,
input[id=tab7]:checked ~.his_btn label[for=tab7] strong,
input[id=tab8]:checked ~.his_btn label[for=tab8] strong,
input[id=tab9]:checked ~.his_btn label[for=tab9] strong{
  color: #B51C2E;
  font-weight: bold;
  transform: scale(1.3) translateX(13%);
}

input[id=tab1]:checked ~.his_btn label[for=tab1] .img,
input[id=tab2]:checked ~.his_btn label[for=tab2] .img,
input[id=tab3]:checked ~.his_btn label[for=tab3] .img,
input[id=tab4]:checked ~.his_btn label[for=tab4] .img,
input[id=tab5]:checked ~.his_btn label[for=tab5] .img,
input[id=tab6]:checked ~.his_btn label[for=tab6] .img,
input[id=tab7]:checked ~.his_btn label[for=tab7] .img,
input[id=tab8]:checked ~.his_btn label[for=tab8] .img,
input[id=tab9]:checked ~.his_btn label[for=tab9] .img{
  background: url(../image/cola4.png) no-repeat center center;
  transform: scale(1.5) translateX(-17%) rotateX(360deg);
}

input[id=tab1]:checked ~.con_inner .contents{top:0;}
input[id=tab2]:checked ~.con_inner .contents{top:-550px;}
input[id=tab3]:checked ~.con_inner .contents{top:-1100px;}
input[id=tab4]:checked ~.con_inner .contents{top:-1650px;}
input[id=tab5]:checked ~.con_inner .contents{top:-2200px;}
input[id=tab6]:checked ~.con_inner .contents{top:-2750px;}
input[id=tab7]:checked ~.con_inner .contents{top:-3300px;}
input[id=tab8]:checked ~.con_inner .contents{top:-3850px;}
input[id=tab9]:checked ~.con_inner .contents{top:-4400px;}

/* sustain____________________________________________________________________________ */

#sustainable{
  position: relative;
  width: 100%;
  height: 1100px;
  background-color: darkseagreen;
  z-index: -2;
  overflow: hidden;
}
.sustainable{
  position: relative;
  width: 1200px;
  margin: auto;
  padding: 200px 0 0;
  height: 800px;
  display: flex;
  flex-direction: column;
}
#sustainable h2{
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.2);
  width: 1500px;
  text-align: center;
  font-size: 250px;
  text-transform: capitalize;
}

#sustainable .sustainable .sus_con{
  border-bottom: 5px solid darkolivegreen;
  width: inherit;
  flex: 1;
  filter: brightness(0.7);
  overflow: hidden;
  transition: 0.5s;
}
#sustainable .sustainable .sus_con:nth-child(1){
  border-top: 5px solid darkolivegreen;
  background: url(../image/sustain_back1.jpg) no-repeat center top ;
  background-size: cover;
}
#sustainable .sustainable .sus_con:nth-child(2){
  background: url(../image/sustain_back2.jpg) no-repeat center center;
  background-size: cover;
}
#sustainable .sustainable .sus_con:nth-child(3){
  background: url(../image/sustain_back3.jpg) no-repeat center center;
  background-size: cover;
}

#sustainable .sustainable .sus_con:hover{
  flex: 4;
  filter: brightness(1);
}
#sustainable .sustainable .sus_con:hover .sus_cap{
  right: 0px;
}
#sustainable .sustainable .sus_con a:hover{
  color:goldenrod;
}
#sustainable .sustainable .sus_con .sus_cap{
  position: absolute;
  top: 50%;
  right: -610px;
  transform: translateY(-50%);
  width: 600px;
  height: 200px;
  text-align: left;
  padding: 40px 20px;
  background: #fff;
  border-radius: 20px 0 0 20px;
  box-shadow: -5px 0 10px rgba(79, 78, 78, 0.5);
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.5s;
}
#sustainable .sustainable .sus_con .sus_cap h3{
  color: black;
}
#sustainable .sustainable .sus_con .sus_cap p{
  color: black;
  margin: 10px 0;
}
#sustainable .sustainable .sus_con .sus_cap a{
  font-weight: bold;
}


/* news____________________________________________________________________________ */
#news{
  width: 100%;
  height: 1000px;
  background: #ebebeb;
  position: relative;
  z-index: -2;
}
#news h2{
  position: absolute;
  top: -3%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.6);
  width: 1500px;
  text-align: center;
  font-size: 250px;
  text-transform: capitalize;
  z-index: -1;
}
#news .news{
  width: 1400px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 200px;
}
#news .news .square{
  position: relative;
  width: 400px;
  height: 700px;
}
#news .news .square span{
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid #b66f6d;
  border-radius: 45% 50% 40% 40%;
  z-index: 1;
}
.square:nth-child(1) span:nth-child(1){
  background: url(../image/square1.jpg) center center;
  background-size: cover;
}
.square:nth-child(1) span:nth-child(2){animation: circle 4s linear infinite;}
.square:nth-child(1) span:nth-child(3){animation: circle 10s linear infinite;}
.square:nth-child(1) span:nth-child(4){animation: circle 6s linear infinite;}

.square:nth-child(2) span:nth-child(1){
  background: url(../image/square2.jpg) center center;
  background-size: cover;
}
.square:nth-child(2) span:nth-child(2){animation: circle 4s linear infinite;}
.square:nth-child(2) span:nth-child(3){animation: circle 10s linear infinite;}
.square:nth-child(2) span:nth-child(4){animation: circle 6s linear infinite;}

.square:nth-child(3) span:nth-child(1){
  background: url(../image/square3.jpg) center center;
  background-size: cover;
}
.square:nth-child(3) span:nth-child(2){animation: circle 4s linear infinite;}
.square:nth-child(3) span:nth-child(3){animation: circle 10s linear infinite;}
.square:nth-child(3) span:nth-child(4){animation: circle 6s linear infinite;}

.square .news_cap{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 0 0 20px 20px;
  width: 350px;
  height: 380px;
  text-align: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
.square .news_cap h3{
  margin: 110px 0 10px;
}
.square .news_cap a{
  position: absolute;
  left: 10%;
  bottom: 10%;
  padding: 7px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  background: #B51C2E;
  color: #fff;
  border-radius: 20px;
}
.square .news_cap a:after{
  content: '>>';
  position: absolute;
  display: inline-block;
  left: 0%;
  bottom: 0;
  text-align: right;
  color: #fff;
  padding: 8px 20px;
  width: 200px;
  height: inherit;
  border-radius: 20px;
  box-sizing: border-box;
  background: goldenrod;
  transition: 0.3s;
  z-index: -1;
}

.square .news_cap a:hover:after{
  transform: translateX(35%);
}
/* news 애니메이션 */
@keyframes circle{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

footer{
  width: 100%;
  height: 250px;
  background: #000;
  color: #fff;
}
footer .foot{
  width: 1400px;
  height: inherit;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
}
footer .foot .ft_logo{
  width: inherit;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot .ft_logo img{
  width: 300px;
  height: 50px;
  margin: 20px;
  box-sizing: border-box;
}

.social{
  width: 600px;
  height: inherit;
  line-height: 100px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}
footer .foot .ft_logo .social span{
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #707070;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  margin: 5px;
  transition: 0.5s;
  cursor: pointer;
}
footer .foot .ft_logo .social span:hover{
  background-color: rgba(228, 225, 194, 0.6);
}
footer .foot hr{
  border-color: #707070;
  margin: 10px 0;
}
footer .foot address{
  font-style: normal;
  color: #707070;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}